@charset "utf-8";

/* mint_style css */

#wrap{}

/* contauner */
.mobi_button{display: none;}
.pc_br{display: none;}


#mint_container{padding: 0 6.66666vw; padding-top: 66px; background: url(../mint_img/mobile/back1.png) no-repeat 0 0 / cover; padding-bottom: 16.66666vw;}

.cont1{width: 100%;}

.cont1 h2{padding-top: 16.66666vw; text-align: center; font-size: 6.66666vw; margin-bottom: 2.5vw; text-shadow: 4px 4px 10px #000; color: #b0ff00; line-height: 5vw;}

.cont1 .sub_title{margin-bottom: 8.33333vw; text-align: center; color: #b0ff00; font-size: 6.66666vw; text-shadow: 4px 4px 10px #000; line-height: 10vw; font-weight: bold;}

.pc_title{display: none;}

.cont1 .content_wrap{ width: 65.10416vw; margin: 0 auto 11.66666vw;}

.cont1 .txt_list{margin-bottom: 12.66666vw; padding-left: 4vw;}
.cont1 .txt_list p{list-style: decimal; color: #fff; font-size: 3.33333vw; line-height: 5vw; margin-bottom: 4vw; text-align: center;}
.cont1 .txt_list p:last-child{margin-bottom: 0;}

.etherscan, .com_Home{background: #00ffff; width: 63.33333vw; text-align: center; font-size: 4.8vw; font-family: "sebang-bold"; border: none; border-radius: 10px; display: block; margin: 0 auto; height: 13.33333vw; cursor: pointer; margin-bottom: 30px; position: relative;}

.etherscan a, .com_Home a{display: block; line-height: 13.33333vw;}
.etherscan i, .com_Home i{font-size: 9vw; position: absolute; top: 62%; right: 3vw; transform: translateY(-50%);}

.com_Home{background: #f7c21e;}


@media screen and (min-width:768px) {
    .gnb{display: none;}
}




@media screen and (min-width:1200px) {
    .gnb{display: none;}

    .m_br{display: none;}
    .pc_br{display: block;}
    /* container */
    #mint_container{padding: 66px 0 184px; background: url(../mint_img/web/back1.png) no-repeat 0 0 / cover;}
    
    /* cont1 */
    .cont1 h2{display: inline-block; font-size: 40px; padding-top: 170px; margin-right: 10px;}
    .cont1 h2{display: none;}
    .cont1 .sub_title{display: inline-block; font-size: 40px; padding-top: 170px; font-weight: bold;}
    .cont1 .sub_title{display: none;}

    .cont1 .pc_title{display: block; padding-top: 70px; text-align: center; font-size: 40px; color: #b0ff00; text-shadow: 4px 4px 10px #000; line-height: 40px; margin-bottom: 48px;}

    .cont1_inner{width: 1200px; margin: 0 auto;}
    .cont1 .content_wrap{width: 400px; height: 400px; margin-bottom: 36px;}
    .cont1_inner::after{content: ""; display: block; clear: both;}

    .cont1 .txt_list{margin: 0 auto; padding: 0; margin-bottom: 40px;}
    .cont1 .txt_list p{font-size: 18px; line-height: 28px;}

    .comple_btn{display: flex; width: 646px; justify-content: space-between; margin: 0 auto;}
    .etherscan, .com_Home{width: 300px; height: 74px; font-size: 36px; margin: 0 auto;}
    .etherscan a, .com_Home a{line-height: 74px;}
    .etherscan i, .com_Home i{font-size: 84px; right: 0;}

}