@charset "utf-8";

/* mint_style css */

#wrap{}

/* contauner */
.mobi_button{display: none;}


#mint_container{padding: 0 6.66666vw; padding-top: 66px; background: url(../images/mint_img/mobile/back1.png) no-repeat 0 0 / cover; padding-bottom: 16.66666vw;}

.cont1{width: 100%;}

.cont1 h2{padding-top: 10.66666vw; text-align: center; font-size: 6.66666vw; margin-bottom: 2.5vw; text-shadow: 0 0 10px #000; color: #fff; line-height: 7vw;}

.cont1 .sub_title{margin-bottom: 8.33333vw; text-align: center; color: #fff; font-size: 6.66666vw; text-shadow: 0 0 10px #000; line-height: 7vw;}

.pc_title{display: none;}

.cont1 .content_wrap{ width: 65.10416vw; margin: 0 auto 11.66666vw;}

.cont1 .price{padding-left: 6vw; margin-bottom: 13.33333vw;}
.cont1 .price ul{}
.cont1 .price li{color: #fff; font-size: 4vw; line-height: 7vw;}
.cont1 .price li span{color: #ff0;}

.cont1 .price li input{display: inline-block; width: 10vw; height: 3.4vw; border: none; text-align: center; font-size: 3vw; padding: 4px 0; border-radius: 6px; border: 2px solid #ccc;}

.cont1 .txt_list{margin-bottom: 12.66666vw; padding-left: 4vw;}
.cont1 .txt_list li{list-style: decimal; color: #fff; font-size: 3.33333vw; line-height: 5vw; margin-bottom: 4vw;}
.cont1 .txt_list li:last-child{margin-bottom: 0;}

.metamask{background: #00ffff; width: 63.33333vw; text-align: center; font-size: 4.8vw; font-family: "sebang-bold"; border: none; border-radius: 10px; display: block; margin: 0 auto; height: 13.33333vw; cursor: pointer;}




@media screen and (min-width:768px) {
    .gnb{display: none;}
    .cont1 .content_wrap{width: 500px; height: 500px; margin: 0 auto 6.66666vw;}
    .cont1 .price li{font-size: 3vw; line-height: 6vw;}

    .cont1 .price{margin-bottom: 7.33333vw;}
    .cont1 .txt_list li{font-size: 2.33333vw; line-height: 4vw; margin-bottom: 2vw;}

    .metamask{font-size: 3vw; width: 44vw; height: 8vw;}
}




@media screen and (min-width:1200px) {
    .gnb{display: none;}


    /* container */
    #mint_container{padding: 66px 0 184px; background: url(../images/mint_img/web/back1.png) no-repeat 0 0 / cover;}
    
    /* cont1 */
    .cont1 h2{display: inline-block; font-size: 40px; padding-top: 170px; margin-right: 10px;}
    .cont1 h2{display: none;}
    .cont1 .sub_title{display: inline-block; font-size: 40px; padding-top: 170px; font-weight: bold;}
    .cont1 .sub_title{display: none;}

    .cont1 .pc_title{display: block; padding-top: 70px; text-align: center; font-size: 40px; color: #fff; text-shadow: 0 0 10px #000; line-height: 40px; margin-bottom: 70px;}

    .cont1_inner{width: 1200px; margin: 0 auto;}
    .cont1 .content_wrap{width: 500px; height: 500px; float: left; margin-bottom: 60px;}

    .cont1_inner::after{content: ""; display: block; clear: both;}
    .cont1 .price{float: left; padding-left: 36px; margin-bottom: 0; margin-bottom: 52px; position: relative;}
    .cont1 .price li{font-size: 23px; line-height: 54px;}

    .cont1 .price li input{width: 94px; height: 24px; font-size: 30px; padding: 8px;}
    /* .cont1 .price::after{content: ""; display: block; background: rgba(255, 255, 255, .5); width: 652px; height: 1px; position: absolute; bottom: -24px; left: 37px;} */

    .cont1 .txt_list{margin-bottom: 0; padding-left: 56px; float: left; width: 690px;}
    .cont1 .txt_list li{font-size: 16px; line-height: 28px; margin-bottom: 20px;}

    .metamask{width: 380px; height: 70px; font-size: 26px; margin: 0 auto;}
}