@charset "utf-8";

#wrap{width: 100%;}

/* 스마트폰 세로 */


/* container */
#container{padding-top: 66px; background: #181B25;}

section h2{display: none;}

.video_wrap{width: 100%;}
.video_wrap video{width: 100%;}

.cont1{background: url(../images/background-mobile.png) no-repeat 0 0/cover;}


.cont1_inner p{height: 76.5402vw; padding-left: 30px; color: #fff; font-family: "sebang-bold"; padding-top: 20vw;}
.cont1 .cont1_logo{width: 14vw; position: absolute; top: -85%; left: 0;}

.cont1_inner p span{display: block; text-shadow: 0 0 10px #00599f;}
.cont1_inner p .title{font-size: 9.7vw; line-height: 9.7vw; margin-bottom: 6vw; position: relative;}

.cont1_inner p .sub_title{font-size: 5vw;}

.cont1 .mint{display: block; width: 40vw; height: 6.5vw; margin-top: 5vw; border-radius: 40px; text-align: center; font-size: 4vw; line-height: 7vw; border: 2px solid #fff; color: #fff; background: #6dc406;}
.cont1 .mint:hover{background-color: #2b9fd2;}
.cont1 .mint-btn{}


.cont2_inner{background: url(../images/mainbanner-back-mobile.png) no-repeat 0 0/cover; position: relative;}

.cont2_banner{width: 40%; height: auto; position: absolute; top: 18vw; left: 8%;}

.cont2_inner .main-banner-title{height: 52vw; padding-top: 5.3vw; padding-left: 48.5vw; color: #fff;}

.cont2_inner .main-banner-title .title{display: block; font-size: 6vw; line-height: 8vw; font-family: "sebang-bold";}
.cont2_inner .main-banner-title .sub_title{display: block; font-size: 2.8vw; line-height: 4vw; margin-top: 1.6vw; letter-spacing: 1px;}

.cont2_inner .main-banner-title .sub_title.tab{display: none;}

.cont3{background: url(../images/project-back.png) no-repeat 0 0/cover; padding: 0 10vw;}
.cont3 .what{padding-top: 40px;}

.what{margin-bottom: 40px;}
.what p{color: #fff;}
.cont3_title{font-size: 6vw; line-height: 10vw; margin-bottom: 14px; font-family: "sebang-bold";}
.cont3_sub_title{font-size: 3vw; line-height: 4.5vw; letter-spacing: 1px; margin-bottom: 50px;}
.cont3_img{margin-bottom: 50px;}

.what ul li{margin-bottom: 6vw;}
.menu-title{font-size: 4vmin; line-height: 5.2vw; margin-bottom: 1.2vw; letter-spacing: 1.5px;}
.menu-description{font-size: 2.3vmin; line-height: 4vw; letter-spacing: 1.5px;}

.details{margin-bottom: 10vw;}
.details p{color: #fff;}
.dtail_title, .rarity_title, .roadmap-title{font-size: 6vw; line-height: 10vw; margin-bottom: 14px; font-family: "sebang-bold";}
.detail_description, .rarity_description, .road_text{margin-bottom: 8vw; font-size: 2.3vmin; line-height: 4vw; letter-spacing: 1.5px;}

.rarity{margin-bottom: 40px;}
.rarity p{color: #fff;}
.rarity ul{margin-bottom: 30px;}
.rarity ul li{width: 60%; margin-bottom: 3vw; display: flex; justify-content: space-between;}
.rarity ul li span{color: #fff; font-size: 3.4vw;}
.rarity ul li span:nth-of-type(1){width: 10%;}
.rarity ul li span:nth-of-type(2){width: 80%;}
.rarity ul li span:nth-of-type(3){width: 10%;}
.rarity_description{margin-bottom: 4vw;}

.special_edition li{margin-bottom: 8vw;}
.edition-title{padding: 10px 0; color: #fff; text-align: center; border-top: 2px solid #fff;
border-bottom: 2px solid #fff; margin-bottom: 16px; font-size: 4vw; line-height: 4vw;}

.edition-tablet-mobile{overflow: hidden; margin-bottom: 40px;}
.edition-tablet-mobile-box{display: flex; left: -40%;}
.edition-tablet-mobile-img {width: 45%; margin-right: 15px;}

.roadmap{padding-bottom: 40px;}
.roadmap p{color: #fff;}
.road_text{color: #fff;}

.road_text li{height: 21vw; background-repeat: no-repeat; background-position: 0 0; background-size: 100% 100%; margin-bottom: 2vw; box-shadow: 10px 10px 10px #000; border-radius: 20px; overflow: hidden; background-color: #293140;}
.road_text li:nth-of-type(1){background-image: url(../images/road_mo1.png);}
.road_text li:nth-of-type(2){background-image: url(../images/road_mo2.png);}
.road_text li:nth-of-type(3){background-image: url(../images/road_mo3.png);}
.road_text li:nth-of-type(4){background-image: url(../images/road_mo4.png);}
.road_text li:nth-of-type(5){background-image: url(../images/road_mo5.png);}


.road_text li span{display: block; font-size: 2.6vmin; line-height: 3.5vw;}
.road_text li:nth-of-type(1) span{padding: 3.5vw 3vw 2vw 23.5vw;}
.road_text li:nth-of-type(2) span{padding: 2vw 3vw 2vw 23.5vw;}
.road_text li:nth-of-type(3) span{padding: 3.5vw 3vw 2vw 23.5vw;}
.road_text li:nth-of-type(4) span{padding: 5vw 3vw 2vw 23.5vw;}
.road_text li:nth-of-type(5) span{padding: 5vw 3vw 2vw 23.5vw;}

.roadmap-description{text-align: center; font-size: 2vw; line-height: 4.5vw;}

.history_top{width: 100%; padding: 9.5vw 0; background: url(../images/back1.png) no-repeat 0 0 /cover;}

.history_top img{width: 92%; height: auto; display: block; margin: 0 auto;}

.content-box{width: 100%; padding: 10vw 10vw; background: url(../images/back2.png) no-repeat 0 0 /100% 100%;}
.content-box h3{color: #fff; font-size: 6vw; line-height: 10vw; margin-bottom: 14px; font-family: "sebang-bold"}
.content-box p{color: #fff; margin-bottom: 20px; font-size: 2.3vmin; line-height: 3.6vw;}

.historian{background: url(../images/back-mobile.png) no-repeat 0 0/cover; padding: 10vw 10vw 18vw 10vw}

.historian .header-title{color: #fff; font-size: 6vw; line-height: 10vw; margin-bottom: 14px; font-family: "sebang-bold";
}

.historian > p {color: #fff; margin-bottom: 30px; font-size: 2.3vmin; line-height: 3.6vw;}

.historian .body-title{font-size: 4vw; line-height: 6vw; margin-bottom: 6vw; color: #fff;}

.profiles-box{display: flex; flex-wrap: wrap; justify-content: space-between; margin-bottom: 14vw;}
.profile-box{width: 20vw; height: 36vw; margin-right: 6vw; margin-bottom: 20px;}
.profile-box:nth-of-type(3n){margin-right: 0;}

.profile-box p{ text-align: center;}

.profile-box .name{font-size: 4vw; color: #fff; margin: 10px 0 1.5vw;}
.profile-box .sub-profile{color: #87909f; font-size: 3vw; line-height: 4vw;}

.profile-box:nth-of-type(10){margin: 0 auto;}

.historian_s{}
.historian_s h4{color: #fff; font-size: 4vw; line-height: 6vw; margin-bottom: 6vw; color: #fff;}

.historian_s li{padding-left: 6vw; background: url(../images/check-box.png) no-repeat 0 2px/ 4vw 4vw; color: #fff; margin-bottom: 4vw;}
.historian_s li p{font-size: 3.4vw; line-height: 5vw;}

.contact{padding: 40vw 10vw 20vw; background: url(../images/cont6-back-mobile.png) no-repeat 0 0/ cover;}

.contact .title{text-align: center; font-size: 4vw; color: #fff; padding-top: 40px;}
.contact h4{text-align: center; font-size: 7vw; color: #ff0; text-shadow: 0 0 8px #000; padding: 6vw 0 10vw; font-family: "sebang-bold"; line-height: 8vw;}

.contact ul{width: 94%; margin: 0 auto;}
.contact ul li{list-style: disc; color: #fff; font-size: 4vw; line-height: 5vw; margin-bottom: 4vw; letter-spacing: 1.5px;}

.contact img{display: block; width: 98%; height: auto; margin: 4vw auto;}

.contact ol{width: 94%; margin: 0 auto;}
.contact ol li{list-style: decimal; color: #fff; font-size: 4vw; line-height: 5vw; margin-bottom: 4vw; letter-spacing: 1.5px;}

#wait_pop{width: 100%; height: 100%; position: fixed; top: 0; left: 0;  background: rgba(0, 0, 0, .8); z-index: 600; display: none;}

#wait_pop img{width: 60vw; height: auto; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); border-radius: 50px; box-shadow: 10px 10px 10px #000;}



@media screen and (min-width:453px){
    .road_text li:nth-of-type(2) span{padding: 3.5vw 3vw 2vw 23.5vw;}
}

@media screen and (max-width:452px){
    .road_text li:nth-of-type(5) span{padding: 3vw 3vw 2vw 23.5vw;}
}

@media screen and (min-width:576px) {
    /* 스마트폰 가로 */
    .cont3_sub_title{font-size: 2.5vmin;}
    .menu-title{font-size: 3.5vmin;}
    .menu-description{font-size: 2vmin; line-height: 3.5vw;}

    .dtail_title{font-size: 5.5vmin;}
    .detail_description{font-size: 2vmin; line-height: 3.5vw;}

    .edition-title{font-size: 2.8vw;}
    .special_edition ul{display: flex; justify-content: space-between;}
    .special_edition li{width: 48%;}
    
    .road_text li span{font-size: 1.6vmax; line-height: 3vw;}
    .road_text li:nth-of-type(1) span{padding: 6vw 3vw 2vw 23.5vw;}
    .road_text li:nth-of-type(2) span{padding: 4vw 3vw 2vw 23.5vw;}
    .road_text li:nth-of-type(3) span{padding: 4vw 3vw 2vw 23.5vw;}
    .road_text li:nth-of-type(4) span{padding: 6vw 3vw 2vw 23.5vw;}
    .road_text li:nth-of-type(5) span{padding: 6vw 3vw 2vw 23.5vw;}

    .historian{background-image: url(../images/back-tablet.png);}

    .profile-box{width: 14vw; height: 34vw;}

    .profile-box:nth-of-type(3n){margin-right: 6vw;}
    .profile-box:nth-of-type(4n){margin-right: 0;}
    .profile-box .name{font-size: 3vw; color: #fff; margin: 26px 0 2vw;}
    
    .profile-box:nth-of-type(9), .profile-box:nth-of-type(10){margin: 0 12vw}

    .historian_s li{background-size: 3.6vw 3.6vw; padding-left: 5vw;}
    .historian_s li p{font-size: 2.4vw; line-height: 4vw;}

    .contact ul li{font-size: 3vw;}
    .contact ol li{font-size: 3vw;}
    
    
    
}



@media screen and (min-width:768px) {
    /* 타블렛 */
    .cont3 .what{padding-top: 60px;}
    
    .cont1{background: url(../images/background.png) no-repeat 0 0/cover;}
    .cont1 .cont1_logo{width: 55px; height: 55px;}
    .cont1_inner p{padding-top: 8.22222vw; padding-left: 50px;}

    .cont1_inner p .title{font-size: 50px; line-height: 55px; margin-bottom: 30px; margin-top: 3vw;}
    .cont1_inner p .sub_title{font-size: 30px;}
    .cont1 .cont1_logo{top: -64px;}
    .cont1 .mint-btn{width: 272px;}
    .cont1_inner p{height: 38.716666vw;}
    
    /* cont2 */
    .cont2_inner{background: url(../images/mainbanner-back.png) no-repeat 0 0/cover; position: relative;}
    .cont2_inner .main-banner-title{height: 56.5vw;}
    .cont2_inner .main-banner-title .sub_title.mobi{display: none;}
    .cont2_inner .main-banner-title .sub_title.tab{display: block; font-size: 18px; line-height: 30px;}

    .cont2_banner{top: 50%; left: 13.32vw; transform: translateY(-30%);}

    .cont2_inner .main-banner-title .title{margin-top: 10vw;}
    .cont2_inner .main-banner-title .sub_title.tab{font-size: 1.8vw; line-height: 3vw;}
    .cont2_inner .main-banner-title{padding-left: 55vw;}

    .cont3{padding: 7vw;}
    .cont3_title{font-size: 5.4vw; line-height: 6vw;}
    .cont3_sub_title{font-size: 2.2vmin; line-height: 3.5vw;}
    
    .what ul li{margin-bottom: 4vw;}
    
    .menu-title{font-size: 3vmin;}

    .menu-description{font-size: 2vmin; line-height: 3.2vw;}


    .details::after{content: ""; display: block; clear: both;}
    .detail_title{font-size: 6.5vmin;}
    
    .detail_description{font-size: 2vmin; line-height: 3.2vw; width: 50%;float: left;}
    .detail_img{width: 45%; float: right; margin-top: 16%;}

    .rarity{margin-bottom: 80px;}
    .rarity ul{margin-bottom: 60px;}
    .rarity ul li span{font-size: 2.4vmin;}
    .rarity_description{line-height: 3vw;}
    .edition-title{font-size: 28px; margin-bottom: 24px;}

    .edition-tablet-mobile-img{width: 30%;}

    .road_text li span{padding: 3.4vw 6vw 2vw 23vw;}

    .road_text li{height: 12vw; background-repeat: no-repeat; background-position: 0 0; background-size: contain; margin-bottom: 2vw;}
    .road_text li:nth-of-type(1){background-image: url(../images/road_tab1.png);}
    .road_text li:nth-of-type(2){background-image: url(../images/road_tab2.png);}
    .road_text li:nth-of-type(3){background-image: url(../images/road_tab3.png);}
    .road_text li:nth-of-type(4){background-image: url(../images/road_tab4.png);}
    .road_text li:nth-of-type(5){background-image: url(../images/road_tab5.png);}

    .road_text li:nth-of-type(1) span{padding: 3vw 3vw 2vw 23.5vw;}
    .road_text li:nth-of-type(2) span{padding: 1.8vw 3vw 2vw 23.5vw;}
    .road_text li:nth-of-type(3) span{padding: 1.6vw 3vw 2vw 23.5vw;}
    .road_text li:nth-of-type(4) span{padding: 3vw 3vw 2vw 23.5vw;}
    .road_text li:nth-of-type(5) span{padding: 3vw 3vw 2vw 23.5vw;}

    .content-box p{font-size: 16px; line-height: 24px; letter-spacing: 1.5px;}

    .profile-box{height: 30vw;}
    .profile-box .name{font-size: 2.6vw;}
    .profile-box .sub-profile{font-size: 2.2vw; line-height: 3vw;}

    .historian_s li{background-position: 0 0;}

    .contact{background-image: url(../images/cont6-back-tablet.png); padding-top: 14vw;}
    .contact ul li{font-size: 2.4vw; margin-bottom: 2vw;}
    .contact ol li{font-size: 2.4vw;}

    .contact .title{font-size: 3vmax;}
    .contact h4{font-size: 6vmax;}

    
}




@media screen and (min-width:992px) {
    /* 데스크탑 */
    #container{padding: 0;}
    .road_text li:nth-of-type(3) span{padding: 3vw 3vw 2vw 23.5vw;}
    .cont1 .mint{width: 39.0625vw; font-size: 3.90625vw; height: 9vw; line-height: 8.85416vw; border-radius: 30px;}
}

@media screen and (min-width:1200px) {
    .cont1_inner p{padding-left: 140px; padding-top: 7.38vw; height: 39.49704vw;}
    .cont1_inner p .title{font-size: 60px; line-height: 70px;}

    .cont2_inner .main-banner-title .title{font-size: 70px; line-height: 90px;}
    .cont2_inner .main-banner-title .sub_title.tab{font-size: 26px; letter-spacing: 1.4px;}

    .cont3{padding-top: 90px;}
    .what::after{content: ""; display: block; clear: both;}
    .what ul{width: 48%; float: left;}
    .what ul:nth-of-type(1){margin-right: 4%;}
    .what ul:nth-of-type(2){float: right;}

    .cont3_title{font-size: 46px;}
    .cont3_sub_title{font-size: 17px; line-height: 26px; letter-spacing: 1.5px; margin-bottom: 80px;}
    .cont3_img{margin-bottom: 80px;}

    .menu-title{font-size: 28px; line-height: 34px;}
    .menu-description, .detail_description, .rarity_description{font-size: 18px; line-height: 30px;}
    .detail_img{margin-top: 0;}

    .dtail_title, .rarity_title, .roadmap-title, .content-box h3, .historian .header-title{font-size: 56px; line-height: 70px; margin-bottom: 30px;}

    .rarity ul li{width: 400px;}

    .edition-tablet-mobile{margin-bottom: 120px;}
    .edition-title{line-height: 36px;}

    .special_edition ul{width: 80%; margin: 0 auto;}
    .special_edition li{width: 48%;}

    .roadmap-description{font-size: 24px; line-height: 40px;}
    
    .road_text{width: 827px; margin: 0 auto 50px;}

    .road_text li{height: 104px; background-repeat: no-repeat; background-position: 0 0; background-size: contain; margin-bottom: 2vw;}
    .road_text li:nth-of-type(1){background-image: url(../images/roadmap1.png);}
    .road_text li:nth-of-type(2){background-image: url(../images/roadmap2.png);}
    .road_text li:nth-of-type(3){background-image: url(../images/roadmap3.png);}
    .road_text li:nth-of-type(4){background-image: url(../images/roadmap4.png);}
    .road_text li:nth-of-type(5){background-image: url(../images/roadmap5.png);}


    .road_text li span{font-size: 20px; line-height: 30px;}

    .road_text li:nth-of-type(1) span{padding: 21px 13px 20px 190px;}
    .road_text li:nth-of-type(2) span{padding: 7px 13px 20px 190px;}
    .road_text li:nth-of-type(3) span{padding: 7px 13px 20px 190px;}
    .road_text li:nth-of-type(4) span{padding: 21px 13px 20px 190px;}
    .road_text li:nth-of-type(5) span{padding: 21px 13px 20px 190px;}
    
    .history_top img{width: 80%;}

    .content-box p{font-size: 20px; line-height: 32px; margin-bottom: 30px;}

    .profiles-box{width: 1000px; margin: 0 auto; margin-bottom: 120px;}

    .profile-box{width: 160px; height: 192px; margin-bottom: 100px; margin-right: 50px;}

    .profile-box:nth-of-type(3n){margin-right: 50px;}
    .profile-box:nth-of-type(4n){margin-right: 50px;}
    .profile-box:nth-of-type(5n){margin-right: 0;}
    .profile-box .name{font-size: 23px; color: #fff; margin: 26px 0 10px;}
    .profile-box .sub-profile{font-size: 20px; line-height: 30px;}

    .profile-box:nth-of-type(9){margin-right: 50px; margin-left: 0;}
    .profile-box:nth-of-type(10){margin-left: 0;}

    .historian{background-image: url(../images/back.png);}
    .historian > p{font-size: 24px; line-height: 34px; letter-spacing: 1.5px;}
    .historian .body-title{font-size: 32px; margin-top: 80px; line-height: 40px; letter-spacing: 1.5px; margin-bottom: 60px;}

    .historian_s{display: flex;}

    .historian_s h4{font-size: 30px; line-height: 40px; margin-right: 50px; margin-bottom: 0;}

    .historian_s ul{margin-top: 20px;}
    .historian_s li{background-size: 24px; padding-left: 36px; background-position: 0 center; margin-bottom: 10px;}
    .historian_s li p{font-size: 18px; line-height: 40px;}
    .contact{padding: 100px; background-image: url(../images/cont-6back.png);}
    
    .contact .title{font-size: 26px;}
    .contact h4{font-size: 50px; padding: 42px 0;}

    .contact ul{width: 76%; margin-top: 50px;}
    .contact ul li{font-size: 24px; line-height: 30px; margin-bottom: 20px;}

    .contact img{width: 60%; margin-bottom: 50px;}
    .contact ol{width: 84%;}
    .contact ol li{font-size: 16px; line-height: 26px; margin-bottom: 20px;}

    .cont1 .mint{width: 300px; font-size: 30px; height: 68px; line-height: 68px; border-radius: 30px;}
}

