@font-face {
    src: url('../font/sebang.otf') format('truetype');
    font-family: "sebang";
}

@font-face {
    src: url('../font/sebang-bold.otf') format('truetype');
    font-family: "sebang-bold";
}
