@media screen and (min-width: 1150px) {
  .edition-tablet-mobile-box {
    animation: moveSlideshow2 11s linear infinite;
  }
}

@media screen and (min-width: 1050px) {
  .edition-tablet-mobile-box {
    animation: moveSlideshow3 11s linear infinite;
  }
}

@media screen and (min-width: 950px) {
  .edition-tablet-mobile-box {
    animation: moveSlideshow4 11s linear infinite;
  }
}

@media screen and (min-width: 850px) {
  .edition-tablet-mobile-box {
    animation: moveSlideshow5 11s linear infinite;
  }
}

@media screen and (min-width: 750px) {
  .edition-tablet-mobile-box {
    animation: moveSlideshow6 11s linear infinite;
  }
}

@media screen and (min-width: 700px) {
  .edition-tablet-mobile-box {
    animation: moveSlideshow7 11s linear infinite;
  }
}

@media screen and (min-width: 650px) {
  .edition-tablet-mobile-box {
    animation: moveSlideshow8 11s linear infinite;
  }
}

@media screen and (min-width: 625px) {
  .edition-tablet-mobile-box {
    animation: moveSlideshow9 11s linear infinite;
  }
}

@media screen and (min-width: 600px) {
  .edition-tablet-mobile-box {
    animation: moveSlideshow11 13s linear infinite;
  }
}

@media screen and (min-width: 575px) {
  .edition-tablet-mobile-box {
    animation: moveSlideshow12 13s linear infinite;
  }
}

@media screen and (min-width: 550px) {
  .edition-tablet-mobile-box {
    animation: moveSlideshow13 13s linear infinite;
  }
}

@media screen and (min-width: 525px) {
  .edition-tablet-mobile-box {
    animation: moveSlideshow14 13s linear infinite;
  }
}

@media screen and (min-width: 500px) {
  .edition-tablet-mobile-box {
    animation: moveSlideshow15 13s linear infinite;
  }
}

@media screen and (min-width: 475px) {
  .edition-tablet-mobile-box {
    animation: moveSlideshow16 13s linear infinite;
  }
}

@media screen and (min-width: 450px) {
  .edition-tablet-mobile-box {
    animation: moveSlideshow17 13s linear infinite;
  }
}

@media screen and (min-width: 425px) {
  .edition-tablet-mobile-box {
    animation: moveSlideshow18 13s linear infinite;
  }
}

@media screen and (min-width: 400px) {
  .edition-tablet-mobile-box {
    animation: moveSlideshow19 13s linear infinite;
  }
}

@media screen and (min-width: 375px) {
  .edition-tablet-mobile-box {
    animation: moveSlideshow21 13s linear infinite;
  }
}

@media screen and (min-width: 360px) {
  .edition-tablet-mobile-box {
    animation: moveSlideshow24 13s linear infinite;
  }
}

@media screen and (min-width: 335px) {
  .edition-tablet-mobile-box {
    animation: moveSlideshow26 13s linear infinite;
  }
}

@media screen and (min-width: 315px) {
  .edition-tablet-mobile-box {
    animation: moveSlideshow27 13s linear infinite;
  }
}

@media screen and (min-width: 300px) {
  .edition-tablet-mobile-box {
    animation: moveSlideshow28 13s linear infinite;
  }
}

@media screen and (min-width: 250px) {
  .edition-tablet-mobile-box {
    animation: moveSlideshow29 13s linear infinite;
  }
}


@keyframes moveSlideshow {
  100% {
    transform: translateX(-169%);
  }
}

@keyframes moveSlideshow2 {
  100% {
    transform: translateX(-170%);
  }
}

@keyframes moveSlideshow3 {
  100% {
    transform: translateX(-171%);
  }
}

@keyframes moveSlideshow4 {
  100% {
    transform: translateX(-172%);
  }
}

@keyframes moveSlideshow5 {
  100% {
    transform: translateX(-173%);
  }
}

@keyframes moveSlideshow6 {
  100% {
    transform: translateX(-175%);
  }
}

@keyframes moveSlideshow7 {
  100% {
    transform: translateX(-176%);
  }
}

@keyframes moveSlideshow8 {
  100% {
    transform: translateX(-177%);
  }
}

@keyframes moveSlideshow9 {
  100% {
    transform: translateX(-178%);
  }
}

@keyframes moveSlideshow10 {
  100% {
    transform: translateX(-298%);
  }
}

@keyframes moveSlideshow11 {
  100% {
    transform: translateX(-299%);
  }
}

@keyframes moveSlideshow12 {
  100% {
    transform: translateX(-300%);
  }
}

@keyframes moveSlideshow13 {
  100% {
    transform: translateX(-301%);
  }
}

@keyframes moveSlideshow14 {
  100% {
    transform: translateX(-302%);
  }
}

@keyframes moveSlideshow15 {
  100% {
    transform: translateX(-303%);
  }
}

@keyframes moveSlideshow16 {
  100% {
    transform: translateX(-304%);
  }
}

@keyframes moveSlideshow17 {
  100% {
    transform: translateX(-305%);
  }
}

@keyframes moveSlideshow18 {
  100% {
    transform: translateX(-306%);
  }
}

@keyframes moveSlideshow19 {
  100% {
    transform: translateX(-307%);
  }
}

@keyframes moveSlideshow20 {
  100% {
    transform: translateX(-308%);
  }
}

@keyframes moveSlideshow21 {
  100% {
    transform: translateX(-309%);
  }
}

@keyframes moveSlideshow22 {
  100% {
    transform: translateX(-310%);
  }
}

@keyframes moveSlideshow23 {
  100% {
    transform: translateX(-311%);
  }
}

@keyframes moveSlideshow24 {
  100% {
    transform: translateX(-312%);
  }
}

@keyframes moveSlideshow25 {
  100% {
    transform: translateX(-313%);
  }
}


@keyframes moveSlideshow26 {
  100% {
    transform: translateX(-314%);
  }
}


@keyframes moveSlideshow27 {
  100% {
    transform: translateX(-315%);
  }
}


@keyframes moveSlideshow28 {
  100% {
    transform: translateX(-318%);
  }
}


@keyframes moveSlideshow29 {
  100% {
    transform: translateX(-319%);
  }
}

@keyframes moveSlideshow30 {
  100% {
    transform: translateX(-320%);
  }
}
